<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The most advanced that helps you see all meta data related to your files." />
    <meta name="keywords" content="meta data, meta, data, images, files, uploads" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Metadata - Free file metadata finder" />
    <meta property="og:url" content="https://apps.mymetadata.com" />
    <meta property="og:site_name" content="MetaData" />
    <link rel="canonical" href="https://apps.mymetadata.com" />
    <link rel="shortcut icon" href="~/media/logos/fav2.png" />
    <title>@ViewData["Title"] - MetaData | Free file metadata finder</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link href="~/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/custom/cookiealert/cookiealert.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="~/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/unstyle.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-enabled sidebar-enabled">
    
    <script>var defaultThemeMode = "dark"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if (localStorage.getItem("data-theme") !== null) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }</script>

    <div class="d-flex flex-column flex-root">
        <div class="page d-flex flex-column flex-column-fluid">
            <partial name="_HeaderPartial" />
            <div id="kt_content_container" class="d-flex flex-column-fluid align-items-stretch container-xxl">
                @*<partial name="_AsidePartial" />*@
                <div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10" id="kt_wrapper">
                    <div class="content flex-column-fluid" id="kt_content">
                        @RenderBody()
                    </div>
                    <partial name="_FooterPartial" />
                </div>
                @*<partial name="_SidebarPartial" />*@
            </div>
        </div>
    </div>

    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <span class="svg-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
                <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
            </svg>
        </span>
    </div>

    <div class="d-flex d-lg-block flex-column bg-dark text-light text-center rounded-0 cookiealert py-5">
        🔔 By using our site you agree to our use of cookies to deliver a better site experience.
        <a href="#">Learn more</a>
        <button type="button" class="btn btn-primary d-inline mx-auto ms-lg-5 acceptcookies mt-5 mt-lg-0">
            I agree 🚀
        </button>
    </div>

    <script src="~/plugins/global/plugins.bundle.js"></script>
    <script src="~/js/scripts.bundle.js"></script>
    <script src="~/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/plugins/custom/cookiealert/cookiealert.bundle.js"></script>
    <script src="~/js/widgets.bundle.js"></script>
    <script src="~/js/custom/widgets.js"></script>
    <script src="~/js/custom/apps/chat/chat.js"></script>
    <script src="~/js/custom/utilities/modals/users-search.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>