@{
    ViewData["Title"] = "Home Page";
}

@*<div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
    <div class="page-title d-flex flex-column py-1">
        <h1 class="d-flex align-items-center my-1">
            <span class="text-dark fw-bold fs-1">All Questions</span>
            <small class="text-muted fs-6 fw-semibold ms-1">(6,299)</small>
        </h1>
    </div>
    <div class="d-flex align-items-center py-1">
        <a href="../../demo5/dist/apps/devs/ask.html" class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px" id="kt_toolbar_primary_button">Ask Question</a>
    </div>
</div>*@

<div class="post" id="kt_post">
    <div class="container">
        <div class="row mb-10">
            <div class="col-md-12 text-center">
                <div class="">
                    <h2 style="font-size: 54px; font-weight: 800">Your reliable meta data generator</h2>
                </div>
                <div class="">
                    <p style="font-size: 24px" class="text-muted">View the meta data of all your files, just upload them. 🗂️⬆️☁️</p>
                </div>
            </div>
        </div>
    </div>
</div>